.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fff;

    .searchContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;

        .youtube {
            color: red;
        }
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    input {
        padding: 20px 20px;
        max-width: 550px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    button {
        padding: 20px 40px;
        background-color: #000;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: #333;
        }
    }

    .videoDetails {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        gap: 80px;

        .imgAndTitle {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .optionsContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        img {
            width: 400px;
            height: auto;
            margin-bottom: 1rem;
            border-radius: 10px;
        }

        p {
            font-size: 1rem;
            font-weight: bold;
            color: #404040;
        }

        .downloadButton {
            padding: 20px 40px;
            background-color: #EC2422;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #333;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            label {
                margin-bottom: 0.5rem;
            }

            select {
                width: 100%;
                padding: 15px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }
}